Repository open-edge-platform/infra-core, pull requests merged in 2025-08, with the labels that each got.

#382 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250729 :robot:
  os-profiles/.markdownlintignore
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#390 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles

#395 Update ubuntu-22.04-lts-generic-ext profile with 1.1.3 version of platform bundle
  os-profiles/ubuntu-22.04-lts-generic-ext.yaml
Labels: os-profiles

#397 Bump OS Profile Version
  os-profiles/VERSION
Labels: os-profiles

#423 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250813 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#422 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250813 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-idv.yaml
  os-profiles/microvisor-nonrt.yaml
  os-profiles/microvisor-rt.yaml
  os-profiles/microvisor-standalone.yaml
Labels: os-profiles

#434 Use go 1.24.6
  api/Dockerfile
  api/go.mod
  apiv2/Dockerfile
  apiv2/go.mod
  bulk-import-tools/go.mod
  exporters-inventory/Dockerfile
  exporters-inventory/go.mod
  inventory/Dockerfile
  inventory/go.mod
  tenant-controller/Dockerfile
  tenant-controller/go.mod
  version.mk
Labels: inventory, root, bulk-import-tools, exporters-inventory, tenant-controller, api, apiv2

#439 Drop power state error from api
  api/VERSION
  api/api/openapi/edge-infrastructure-manager-openapi-all.yaml
  api/api/openapi/schemas/host.yaml
  api/go.mod
  api/go.sum
  api/internal/worker/handlers/invhandlers/host.go
  api/internal/worker/handlers/invhandlers/instance_test.go
  api/internal/worker/handlers/invhandlers/os_test.go
  api/internal/worker/handlers/tenant/tenant_test.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-server.gen.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-types.gen.go
Labels: api

#436 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250826 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#443 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles
