Repository open-edge-platform/infra-core, pull requests merged in 2025-05, with the labels that each got.

#102 Adding License and OpenSSF badges
  README.md
Labels: root

#103 Adding secret permissions to up openSSF score
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-api.yml
  .github/workflows/post-merge-apiv2.yml
  .github/workflows/post-merge-bulk-import-tools.yml
  .github/workflows/post-merge-exporters-inventory.yml
  .github/workflows/post-merge-inventory.yml
  .github/workflows/post-merge-os-profiles.yml
  .github/workflows/post-merge-tenant-controller.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#110 chore: Add contributor
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI 🤖, root

#101 Add API breaking changes check
  apiv2/Makefile
  apiv2/VERSION
  common.mk
  inventory/Makefile
  inventory/api/buf.yaml
Labels: inventory, root

#114 Release OSProfiles 0.4.0
  os-profiles/VERSION
Labels: os-profiles

#117 chore: Bump dev versions for osprofiles and inventory
  inventory/VERSION
  os-profiles/VERSION
Labels: inventory, os-profiles

#108 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250504 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#109 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250504 :robot:
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#118 Release OSProfile 0.4.1
  os-profiles/VERSION
Labels: os-profiles

#97 Fix hostID for registered only host
  bulk-import-tools/VERSION
  bulk-import-tools/cmd/orch-host-bulk-import/orch_host_bulk_import.go
  bulk-import-tools/internal/errors/errors.go
  bulk-import-tools/internal/orchcli/orchcli.go
  bulk-import-tools/internal/orchcli/orchcli_test.go
Labels: bulk-import-tools

#111 OpenAPI breaking check with oasdiff
  apiv2/Makefile
  version.mk
Labels: root

#98 feat: Make cache stale time offset programmable and improve it
  inventory/pkg/client/cache/cache.go
  inventory/pkg/client/cache/cache_test.go
  inventory/pkg/client/cache/cache_uuid.go
  inventory/pkg/client/cache/inventory_cache_test.go
  inventory/pkg/client/client.go
Labels: inventory, c-3.0.1

#124 Sets maxItems to array items not readOnly
  api/api/openapi/edge-infrastructure-manager-openapi-all.yaml
  api/api/openapi/paths/compute.yaml
  api/api/openapi/schemas/common.yaml
  api/api/openapi/schemas/location.yaml
  api/api/openapi/schemas/os.yaml
  api/api/openapi/schemas/provider.yaml
  api/api/openapi/schemas/telemetry.yaml
  api/pkg/api/v0/edge-infrastructure-manager-openapi-server.gen.go
Labels: api

#89 Enhance integration test for import tool
  bulk-import-tools/Makefile
  bulk-import-tools/VERSION
  bulk-import-tools/cmd/orch-host-bulk-import/orch_host_bulk_import_test.go
Labels: bulk-import-tools

#122 fix: ensure default statuses are always pre-populated for resources
  .gitleaksignore
  inventory/api/compute/v1/compute.proto
  inventory/docs/api/inventory.md
  inventory/internal/store/defaultstatus_test.go
  inventory/internal/store/host_test.go
  inventory/internal/store/instance_test.go
  inventory/internal/store/store.go
  inventory/internal/store/timestamp_suite_test.go
  inventory/pkg/api/compute/v1/compute.pb.go
  inventory/pkg/status/status.go
  inventory/python/infra_inventory/compute/v1.py
Labels: inventory, root

#130 Adds buffer to inventory client events chan
  exporters-inventory/internal/collect/inventory.go
  inventory/pkg/client/cache/schedule/schedule_cache.go
  tenant-controller/internal/invclient/invclient.go
Labels: inventory, exporters-inventory, tenant-controller

#132 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250514 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#133 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250514 :robot:
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#136 Release OSProfiles v0.4.2
  os-profiles/VERSION
Labels: os-profiles

#141 Release OSProfiles v0.4.3
  os-profiles/VERSION
Labels: os-profiles

#3 feat: Add description field to the OSResource in Inventory, REST API and OSProfile
  api/api/openapi/edge-infrastructure-manager-openapi-all.yaml
  api/api/openapi/schemas/os.yaml
  api/go.mod
  api/go.sum
  api/internal/worker/handlers/invhandlers/os.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-server.gen.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-types.gen.go
  apiv2/.golangci.yml
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/os/v1/os.proto
  apiv2/docs/proto.md
  apiv2/go.mod
  apiv2/go.sum
  apiv2/internal/pbapi/resources/common/v1/common.pb.validate.go
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.validate.go
  apiv2/internal/pbapi/resources/localaccount/v1/localaccount.pb.validate.go
  apiv2/internal/pbapi/resources/location/v1/location.pb.validate.go
  apiv2/internal/pbapi/resources/network/v1/network.pb.validate.go
  apiv2/internal/pbapi/resources/os/v1/os.pb.go
  apiv2/internal/pbapi/resources/os/v1/os.pb.validate.go
  apiv2/internal/pbapi/resources/os/v1/os_constants.pb.go
  apiv2/internal/pbapi/resources/provider/v1/provider.pb.validate.go
  apiv2/internal/pbapi/resources/schedule/v1/schedule.pb.validate.go
  apiv2/internal/pbapi/resources/telemetry/v1/telemetry.pb.validate.go
  apiv2/internal/pbapi/services/v1/services.pb.validate.go
  apiv2/internal/server/os.go
  apiv2/internal/server/os_test.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
  inventory/api/os/v1/os.proto
  inventory/docs/api/inventory.md
  inventory/docs/inventory-er-diagram.svg
  inventory/internal/ent/migrate/migrations/20250520125803_add_osprof_desc.sql
  inventory/internal/ent/migrate/migrations/atlas.sum
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/mutation.go
  inventory/internal/ent/operatingsystemresource.go
  inventory/internal/ent/operatingsystemresource/operatingsystemresource.go
  inventory/internal/ent/operatingsystemresource/where.go
  inventory/internal/ent/operatingsystemresource_create.go
  inventory/internal/ent/operatingsystemresource_update.go
  inventory/internal/ent/schema/operating_system_resource.go
  inventory/internal/store/conversions.go
  inventory/internal/store/os_test.go
  inventory/pkg/api/os/v1/os.pb.go
  inventory/pkg/api/os/v1/os_constants.pb.go
  inventory/python/infra_inventory/os/v1.py
  inventory/sql/inventory.sql
  os-profiles/VERSION
  os-profiles/microvisor-nonrt.yaml
  os-profiles/microvisor-rt.yaml
  os-profiles/ubuntu-22.04-lts-generic-ext.yaml
  os-profiles/ubuntu-22.04-lts-generic.yaml
  os-profiles/ubuntu-24.04-lts-generic.yaml
  os-profiles/ubuntu-lenovo.yaml
Labels: inventory, os-profiles, api

#140 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250518 :robot:
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#142 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250518 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#150 Release OSProfile v0.4.4
  os-profiles/VERSION
Labels: os-profiles

#54 ITEP-26450: Removing the status Host_status_Deleting
  .gitleaksignore
  api/api/openapi/edge-infrastructure-manager-openapi-all.yaml
  api/api/openapi/schemas/host.yaml
  api/internal/worker/handlers/invhandlers/host.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-server.gen.go
  api/pkg/api/v0/edge-infrastructure-manager-openapi-types.gen.go
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/resources/common/v1/common.pb.validate.go
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.validate.go
  apiv2/internal/pbapi/resources/localaccount/v1/localaccount.pb.validate.go
  apiv2/internal/pbapi/resources/location/v1/location.pb.validate.go
  apiv2/internal/pbapi/resources/network/v1/network.pb.validate.go
  apiv2/internal/pbapi/resources/os/v1/os.pb.validate.go
  apiv2/internal/pbapi/resources/provider/v1/provider.pb.validate.go
  apiv2/internal/pbapi/resources/schedule/v1/schedule.pb.validate.go
  apiv2/internal/pbapi/resources/telemetry/v1/telemetry.pb.validate.go
  apiv2/internal/pbapi/services/v1/services.pb.validate.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
  inventory/Makefile
  inventory/api/compute/v1/compute.proto
  inventory/docs/api/inventory.md
  inventory/internal/ent/hostresource/hostresource.go
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/schema/host_resource.go
  inventory/internal/store/host_test.go
  inventory/pkg/api/compute/v1/compute.pb.go
  inventory/python/infra_inventory/compute/v1.py
Labels: inventory, root, api

#154 chore: sort zizmor findings
  .github/dependabot.yml
  .github/workflows/post-merge-api.yml
  .github/workflows/post-merge-apiv2.yml
  .github/workflows/post-merge-bulk-import-tools.yml
  .github/workflows/post-merge-exporters-inventory.yml
  .github/workflows/post-merge-inventory.yml
  .github/workflows/post-merge-os-profiles.yml
  .github/workflows/post-merge-tenant-controller.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#159 Bumps inventory to 2.25.0
  inventory/VERSION
Labels: inventory

#160 fix: mockgen import and add oasdiff in README
  apiv2/README.md
  apiv2/VERSION
  inventory/.golangci.yml
  inventory/VERSION
  inventory/cmd/server/inventory.go
Labels: inventory

#165 Update Ubuntu ext profile to use platformbundle 1.1.2
  os-profiles/VERSION
  os-profiles/ubuntu-22.04-lts-generic-ext.yaml
Labels: os-profiles

#168 chore: move to self hosted auto update
  .github/workflows/auto-update.yml
Labels: CI 🤖

#167 Max size of update_sources 10k
  inventory/api/os/v1/os.proto
  inventory/internal/store/os_test.go
  inventory/pkg/api/os/v1/os.pb.go
Labels: inventory

#170 Releases exporter
  exporters-inventory/VERSION
Labels: exporters-inventory

#174 fix: Add labeler for APIv2
  .github/labeler.yml
Labels: CI 🤖

#171 [ITEP-67228] Updated OperatingSystem Resource as per the design for day2 updates for apiv2
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/os/v1/os.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/resources/os/v1/os.pb.go
  apiv2/internal/pbapi/resources/os/v1/os_constants.pb.go
  apiv2/internal/server/os.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
  apiv2/test/utils/examples.go
Labels: apiv2

#190 Release APIv2 v0.2.1
  apiv2/VERSION
Labels: apiv2

#173 feat: Changes to Instance for day2 in API
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/compute/v1/compute_constants.pb.go
  apiv2/internal/server/instance.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#194 Release APIv2 v0.3.0: Day2 and CVE tracking new APIs
  apiv2/VERSION
Labels: apiv2

#198 fix: resourceId as camelCase in path param and release v0.2.2
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/services/v1/services.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/services/v1/services.pb.go
  apiv2/internal/pbapi/services/v1/services.pb.gw.go
  apiv2/internal/pbapi/services/v1/services_constants.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-client.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
Labels: apiv2

#202 Bump inventory to 2.25.1
  inventory/VERSION
Labels: inventory

#204 Bumps OPA version to v1.5.0
  version.mk
Labels: root

#195 feat: APIv2 changes for AMT and Power commands
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/api/proto/services/v1/services.proto
  apiv2/docs/proto.md
  apiv2/go.mod
  apiv2/go.sum
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/compute/v1/compute_constants.pb.go
  apiv2/internal/pbapi/services/v1/services.pb.go
  apiv2/internal/pbapi/services/v1/services.pb.gw.go
  apiv2/internal/pbapi/services/v1/services_constants.pb.go
  apiv2/internal/server/host.go
  apiv2/internal/server/host_test.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#207 fix: naming convention of AMTState
  inventory/VERSION
  inventory/api/compute/v1/compute.proto
  inventory/docs/api/inventory.md
  inventory/internal/ent/hostresource/hostresource.go
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/schema/host_resource.go
  inventory/internal/store/host_test.go
  inventory/pkg/api/compute/v1/compute.pb.go
  inventory/python/infra_inventory/compute/v1.py
Labels: inventory

#206 fix: renable buflint
  inventory/Makefile
  inventory/VERSION
Labels: inventory
