Repository open-edge-platform/infra-core, pull requests merged in 2025-09, with the labels that each got.

#447 Release inventory v2.30.0
  inventory/VERSION
Labels: inventory

#462 Check activeProjectID before tenant extraction
  inventory/VERSION
  inventory/pkg/tenant/tenant.go
  inventory/pkg/tenant/tenant_test.go
Labels: inventory

#449 Release api/apiv2/bit/os-profiles/tenant-controller
  api/VERSION
  api/go.mod
  api/go.sum
  apiv2/VERSION
  apiv2/go.mod
  apiv2/go.sum
  bulk-import-tools/VERSION
  exporters-inventory/go.mod
  exporters-inventory/go.sum
  os-profiles/VERSION
  tenant-controller/VERSION
  tenant-controller/go.mod
  tenant-controller/go.sum
  tenant-controller/internal/datamodel/datamodel_test.go
  tenant-controller/internal/util/await_test.go
Labels: bulk-import-tools, exporters-inventory, tenant-controller, os-profiles, api, apiv2

#450 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250902 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#492 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles

#495 Bump post-merge to 0.1.49
  .github/workflows/post-merge-api.yml
  .github/workflows/post-merge-apiv2.yml
  .github/workflows/post-merge-bulk-import-tools.yml
  .github/workflows/post-merge-exporters-inventory.yml
  .github/workflows/post-merge-inventory.yml
  .github/workflows/post-merge-os-profiles.yml
  .github/workflows/post-merge-tenant-controller.yml
Labels: CI 🤖

#494 Update proto-validator to 1.0.0
  inventory/.golangci.yml
  inventory/VERSION
  inventory/go.mod
  inventory/go.sum
  inventory/pkg/errors/errors.go
  inventory/pkg/errors/errors_test.go
  inventory/pkg/validator/validator.go
Labels: inventory

#496 Version bump to -dev for inventory
  inventory/VERSION
Labels: inventory

#506 Bugfix: Get region in site for host
  inventory/VERSION
  inventory/internal/store/host.go
  inventory/internal/store/host_test.go
  inventory/pkg/testing/staticdao.go
  inventory/pkg/testing/testing_utils.go
Labels: inventory

#480 Include lvm dependencies in api
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/api/proto/services/v1/services.proto
  apiv2/docs/proto.md
  apiv2/go.mod
  apiv2/go.sum
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/compute/v1/compute_constants.pb.go
  apiv2/internal/pbapi/services/v1/services.pb.go
  apiv2/internal/pbapi/services/v1/services_constants.pb.go
  apiv2/internal/server/host.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#518 Check activeProjectID before tenant extraction (#462)
  .github/workflows/pre-merge.yml
  inventory/VERSION
  inventory/pkg/tenant/tenant.go
  inventory/pkg/tenant/tenant_test.go
Labels: inventory, CI 🤖
