Repository open-edge-platform/infra-core, pull requests merged in 2025-04, with the labels that each got.

#75 feat: Add CONTRIBUTORS.md file
  CONTRIBUTORS.md
Labels: root

#76 chore: Remove useless GOPRIVATE, Token and fix CI
  .github/dependabot.yml
  .github/workflows/post-merge-api.yml
  .github/workflows/post-merge-apiv2.yml
  .github/workflows/post-merge-bulk-import-tools.yml
  .github/workflows/post-merge-exporters-inventory.yml
  .github/workflows/post-merge-inventory.yml
  .github/workflows/post-merge-os-profiles.yml
  .github/workflows/post-merge-tenant-controller.yml
  .github/workflows/pre-merge.yml
  CONTRIBUTORS.md
  common.mk
Labels: CI 🤖, root

#44 Generate ER diagram
  REUSE.toml
  inventory/.gitignore
  inventory/Makefile
  inventory/README.md
  inventory/REUSE.toml
  inventory/docs/database.md
  inventory/docs/inventory-er-diagram.svg
  version.mk
Labels: inventory, CI 🤖, root

#84 Set proxy environment variables using build arguments
  inventory/Dockerfile
Labels: inventory

#93 Fix: Improve readability of schedule error messages
  api/internal/worker/handlers/invhandlers/schedsingle.go
Labels: api

#91 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250427 :robot:
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#62 feat: Logging dropped events in Inventory client
  inventory/pkg/client/client.go
Labels: inventory
