Repository open-edge-platform/infra-core, pull requests merged in 2025-06, with the labels that each got.

#180 Adds generate and buf-breaking check to lint in apiv2
  apiv2/Makefile
  apiv2/VERSION
  apiv2/buf.gen.yaml
  apiv2/internal/pbapi/resources/common/v1/common.pb.validate.go
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.validate.go
  apiv2/internal/pbapi/resources/localaccount/v1/localaccount.pb.validate.go
  apiv2/internal/pbapi/resources/location/v1/location.pb.validate.go
  apiv2/internal/pbapi/resources/network/v1/network.pb.validate.go
  apiv2/internal/pbapi/resources/os/v1/os.pb.validate.go
  apiv2/internal/pbapi/resources/provider/v1/provider.pb.validate.go
  apiv2/internal/pbapi/resources/schedule/v1/schedule.pb.validate.go
  apiv2/internal/pbapi/resources/status/v1/status.pb.validate.go
  apiv2/internal/pbapi/resources/telemetry/v1/telemetry.pb.validate.go
  apiv2/internal/pbapi/services/v1/services.pb.gw.go
  apiv2/internal/pbapi/services/v1/services.pb.validate.go
  version.mk
Labels: root, apiv2

#212 chore: add secret for teams notification
  .github/workflows/post-merge-apiv2.yml
  .github/workflows/post-merge-bulk-import-tools.yml
  .github/workflows/post-merge-exporters-inventory.yml
  .github/workflows/post-merge-inventory.yml
  .github/workflows/post-merge-os-profiles.yml
  .github/workflows/post-merge-tenant-controller.yml
Labels: CI 🤖

#218 fix: Add target OS ID, to set target OS
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/compute/v1/compute_constants.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#219 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250601 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#225 Release api v1.34.1
  api/VERSION
Labels: api

#232 Release OS profile 0.5.2
  os-profiles/VERSION
Labels: os-profiles

#230 feat: Add Metadata JSON field to OS resource
  inventory/api/os/v1/os.proto
  inventory/docs/api/inventory.md
  inventory/docs/inventory-er-diagram.svg
  inventory/internal/ent/migrate/migrations/20250605145118_add_osmetadata.sql
  inventory/internal/ent/migrate/migrations/atlas.sum
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/mutation.go
  inventory/internal/ent/operatingsystemresource.go
  inventory/internal/ent/operatingsystemresource/operatingsystemresource.go
  inventory/internal/ent/operatingsystemresource/where.go
  inventory/internal/ent/operatingsystemresource_create.go
  inventory/internal/ent/operatingsystemresource_update.go
  inventory/internal/ent/schema/operating_system_resource.go
  inventory/internal/store/conversions.go
  inventory/internal/store/mutate.go
  inventory/internal/store/os_test.go
  inventory/internal/store/util.go
  inventory/internal/store/util_test.go
  inventory/pkg/api/os/v1/os.pb.go
  inventory/pkg/api/os/v1/os_constants.pb.go
  inventory/pkg/testing/opts.go
  inventory/python/infra_inventory/os/v1.py
  inventory/sql/inventory.sql
Labels: inventory

#197 fix: Run linter on APIv2 tests
  apiv2/.golangci.yml
  apiv2/Makefile
  apiv2/VERSION
  apiv2/test/client/common.go
  apiv2/test/client/compute_test.go
  apiv2/test/client/hosts_test.go
  apiv2/test/client/instance_test.go
  apiv2/test/client/localaccount_test.go
  apiv2/test/client/location_hierarchy_test.go
  apiv2/test/client/location_test.go
  apiv2/test/client/os_test.go
  apiv2/test/client/provider_test.go
  apiv2/test/client/schedrepeated_test.go
  apiv2/test/client/schedsingle_test.go
  apiv2/test/client/telemetry_test.go
  apiv2/test/client/utils_test.go
  apiv2/test/client/workload_test.go
  apiv2/test/utils/examples.go
Labels: apiv2

#245 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250605 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#244 feat: Add instance changes to Inventory for day2
  inventory/VERSION
  inventory/api/compute/v1/compute.proto
  inventory/docs/api/inventory.md
  inventory/docs/inventory-er-diagram.svg
  inventory/internal/ent/client.go
  inventory/internal/ent/instanceresource.go
  inventory/internal/ent/instanceresource/instanceresource.go
  inventory/internal/ent/instanceresource/where.go
  inventory/internal/ent/instanceresource_create.go
  inventory/internal/ent/instanceresource_query.go
  inventory/internal/ent/instanceresource_update.go
  inventory/internal/ent/migrate/migrations/20250606153212_instance_update.sql
  inventory/internal/ent/migrate/migrations/atlas.sum
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/mutation.go
  inventory/internal/ent/schema/instance_resource.go
  inventory/internal/store/conversions.go
  inventory/internal/store/instance.go
  inventory/internal/store/instance_test.go
  inventory/internal/store/instance_transpiler.go
  inventory/internal/store/store.go
  inventory/pkg/api/compute/v1/compute.pb.go
  inventory/pkg/api/compute/v1/compute_constants.pb.go
  inventory/python/infra_inventory/compute/v1.py
  inventory/sql/inventory.sql
Labels: inventory

#226 feat: Implement API backend for CVE fields
  .gitleaksignore
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/api/proto/resources/os/v1/os.proto
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/pbapi/resources/os/v1/os.pb.go
  apiv2/internal/server/instance.go
  apiv2/internal/server/instance_test.go
  apiv2/internal/server/os.go
  apiv2/internal/server/os_test.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: root, apiv2

#250 feat: Add backend implementation to api for Instance change
  apiv2/internal/server/instance.go
  apiv2/internal/server/instance_test.go
Labels: apiv2

#242 refactor: Simplify OPA policy structure using deny-list logic and exception handling
  inventory/internal/store/timestamp_suite_test.go
  inventory/pkg/policy/policy_test.go
  inventory/pkg/testing/testing_utils.go
  inventory/rego/policy.rego
Labels: inventory

#211 feat: Handle AMT and Power related fields
  apiv2/internal/server/host.go
  apiv2/internal/server/host_test.go
Labels: apiv2

#252 fix: Escape `-` in os metadata validate rule
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/os/v1/os.proto
  apiv2/internal/pbapi/resources/os/v1/os.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  inventory/api/os/v1/os.proto
  inventory/internal/store/os_test.go
  inventory/pkg/api/os/v1/os.pb.go
Labels: inventory, apiv2

#228 feat: add OPA rules for AMT related changes
  inventory/internal/store/multitenancysuite_test.go
  inventory/pkg/policy/policy_test.go
  inventory/rego/policy.rego
Labels: inventory

#175 Add OS profile for EMT Standalone
  os-profiles/VERSION
  os-profiles/microvisor-standalone.yaml
Labels: os-profiles

#259 fix: rego policies
  inventory/pkg/policy/policy_test.go
  inventory/rego/policy.rego
Labels: inventory

#148 Fix for unique name in OS Resource
  inventory/api/os/v1/os.proto
  inventory/internal/ent/migrate/migrations/20250611162552_modify_OSResource_name_tenantId_uniqueness.sql
  inventory/internal/ent/migrate/migrations/atlas.sum
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/operatingsystemresource_update.go
  inventory/internal/ent/schema/operating_system_resource.go
  inventory/internal/store/instance_test.go
  inventory/internal/store/os_test.go
  inventory/internal/store/timestamp_suite_test.go
  inventory/pkg/api/os/v1/os.pb.go
  inventory/pkg/testing/generators.go
  inventory/pkg/testing/staticdao.go
  inventory/pkg/testing/testing_utils.go
  inventory/sql/inventory.sql
Labels: inventory

#262 fix!: update ListCustomConfigsRequest field types
  apiv2/Makefile
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/services/v1/services.proto
  apiv2/docs/proto.md
  apiv2/go.mod
  apiv2/go.sum
  apiv2/internal/pbapi/services/v1/services.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#248 Changes for adding OSUpdateRun resource in inventory
  inventory/api/compute/v1/compute.proto
  inventory/api/inventory/v1/inventory.proto
  inventory/docs/api/inventory.md
  inventory/docs/inventory-er-diagram.svg
  inventory/internal/ent/client.go
  inventory/internal/ent/ent.go
  inventory/internal/ent/hook/hook.go
  inventory/internal/ent/intercept/intercept.go
  inventory/internal/ent/migrate/migrations/20250612071200_add_OSUpdateRun.sql
  inventory/internal/ent/migrate/migrations/atlas.sum
  inventory/internal/ent/migrate/schema.go
  inventory/internal/ent/mutation.go
  inventory/internal/ent/osupdaterunresource.go
  inventory/internal/ent/osupdaterunresource/osupdaterunresource.go
  inventory/internal/ent/osupdaterunresource/where.go
  inventory/internal/ent/osupdaterunresource_create.go
  inventory/internal/ent/osupdaterunresource_delete.go
  inventory/internal/ent/osupdaterunresource_query.go
  inventory/internal/ent/osupdaterunresource_update.go
  inventory/internal/ent/predicate/predicate.go
  inventory/internal/ent/schema/o_s_update_run_resource.go
  inventory/internal/ent/tx.go
  inventory/internal/inventory/inventory.go
  inventory/internal/store/conversions.go
  inventory/internal/store/find.go
  inventory/internal/store/osupdaterun.go
  inventory/internal/store/osupdaterun_test.go
  inventory/internal/store/osupdaterun_transpiler.go
  inventory/internal/store/store.go
  inventory/internal/store/util.go
  inventory/pkg/api/compute/v1/compute.pb.go
  inventory/pkg/api/compute/v1/compute_constants.pb.go
  inventory/pkg/api/inventory/v1/inventory.pb.go
  inventory/pkg/api/inventory/v1/inventory_constants.pb.go
  inventory/pkg/client/temporaryinvclient.go
  inventory/pkg/testing/opts.go
  inventory/pkg/testing/testing.go
  inventory/pkg/testing/testing_utils.go
  inventory/pkg/util/util.go
  inventory/python/infra_inventory/compute/v1.py
  inventory/python/infra_inventory/inventory/v1.py
  inventory/sql/inventory.sql
Labels: inventory

#243 Adds heartbeat implementation to inventory client/server
  Makefile
  inventory/api/inventory/v1/inventory.proto
  inventory/docs/api/inventory.md
  inventory/internal/inventory/inventory.go
  inventory/pkg/api/inventory/v1/inventory.pb.go
  inventory/pkg/api/inventory/v1/inventory_constants.pb.go
  inventory/pkg/api/inventory/v1/inventory_grpc.pb.go
  inventory/pkg/client/client.go
  inventory/pkg/mocks/inventory_mock.go
  inventory/python/infra_inventory/inventory/v1.py
Labels: inventory, root

#271 fix: mockgen version check
  version.mk
Labels: root

#255 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250611 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#266 Align CustomConfig API with inventy proto
  .gitleaksignore
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/customconfig/v1/customconfig.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/resources/customconfig/v1/customconfig.pb.go
  apiv2/internal/pbapi/resources/customconfig/v1/customconfig_constants.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: root, apiv2

#270 ci: Add workflow to auto-create release notes
  .github/workflows/auto-release.yml
Labels: CI 🤖

#273 Fix for incorrect ListOSUpdateRunResp API in apiv2
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/services/v1/services.proto
  apiv2/docs/proto.md
  apiv2/internal/pbapi/services/v1/services.pb.go
  apiv2/internal/pbapi/services/v1/services_constants.pb.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#274 fix: allow auto-release with and without v in the tag
  .github/workflows/auto-release.yml
Labels: CI 🤖

#284 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250617 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#283 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250618 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#288 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250624 :robot:
  os-profiles/VERSION
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#289 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250624 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#278 Releases apiv2, exporter, tenant-controller with updated inventory and OS profiles
  apiv2/VERSION
  apiv2/go.mod
  apiv2/go.sum
  exporters-inventory/VERSION
  exporters-inventory/go.mod
  exporters-inventory/go.sum
  os-profiles/VERSION
  tenant-controller/VERSION
  tenant-controller/go.mod
  tenant-controller/go.sum
Labels: inventory, root, bulk-import-tools, exporters-inventory, tenant-controller, os-profiles, apiv2

#296 Version bump to -dev
  apiv2/VERSION
  exporters-inventory/VERSION
  os-profiles/VERSION
  tenant-controller/VERSION
Labels: exporters-inventory, tenant-controller, os-profiles, apiv2
