Repository open-edge-platform/infra-core, pull requests merged in 2025-10, with the labels that each got.

#530 Version bump to -dev for apiv2
  apiv2/VERSION
  inventory/VERSION
Labels: inventory, apiv2

#531 Bump go version to 1.24.6
  common.mk
  inventory/Dockerfile
  inventory/VERSION
  inventory/go.mod
  version.mk
Labels: inventory, root

#528 Apiv2 changes for AmtSku
  apiv2/Makefile
  apiv2/VERSION
  apiv2/api/openapi/openapi.yaml
  apiv2/api/proto/resources/compute/v1/compute.proto
  apiv2/docs/proto.md
  apiv2/go.mod
  apiv2/go.sum
  apiv2/internal/pbapi/resources/compute/v1/compute.pb.go
  apiv2/internal/server/host.go
  apiv2/internal/server/host_test.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-server.gen.go
  apiv2/pkg/api/v2/edge-infrastructure-manager-openapi-types.gen.go
Labels: apiv2

#541 Enable buf breaking check in apiv2
  apiv2/Makefile
  apiv2/VERSION
Labels: apiv2

#548 Version bump to -dev for apiv2
  apiv2/VERSION
Labels: apiv2
