Repository open-edge-platform/infra-core, pull requests merged in 2025-07, with the labels that each got.

#277 feat: Eager load OS when querying Hosts
  .gitleaksignore
  inventory/internal/store/host.go
  inventory/internal/store/host_test.go
  inventory/internal/store/instance_test.go
  inventory/pkg/testing/testing_utils.go
Labels: inventory, root

#265 cc -inventory ut
  inventory/internal/store/customconfig_test.go
  inventory/internal/store/instance_test.go
Labels: inventory

#310 chore: Remove tmatenko from CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#315 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250708 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#317 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles

#318 fix: standalone EMT OS profile name
  os-profiles/VERSION
  os-profiles/microvisor-standalone.yaml
Labels: os-profiles

#324 fix: Allow for '+' in OS metadata regex
  inventory/VERSION
  inventory/api/os/v1/os.proto
  inventory/internal/store/util.go
  inventory/pkg/api/os/v1/os.pb.go
  os-profiles/VERSION
  os-profiles/microvisor-nonrt.yaml
  os-profiles/microvisor-rt.yaml
Labels: inventory, os-profiles

#329 Update manifest file with details of Edge Microvisor Toolkit Real Time 3.0.20250711 :robot:
  os-profiles/microvisor-rt.yaml
Labels: os-profiles

#330 Update manifest file with details of Edge Microvisor Toolkit 3.0.20250711 :robot:
  os-profiles/microvisor-nonrt.yaml
Labels: os-profiles

#335 Eager load Instance's OS Update Policy when querying Host
  inventory/internal/store/host.go
  inventory/internal/store/host_test.go
  inventory/pkg/testing/generators.go
  inventory/pkg/testing/staticdao.go
  inventory/pkg/testing/testing_utils.go
Labels: inventory, CI 🤖

#351 fix: Register handlers for os-update-run and os-update-policy
  apiv2/internal/proxy/server.go
Labels: apiv2

#352 Bump os-profile version 0-6-9
  os-profiles/VERSION
Labels: os-profiles

#325 EMT profile for Desktop Virtualization
  os-profiles/VERSION
  os-profiles/microvisor-idv.yaml
Labels: os-profiles

#355 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles

#360 Fix shasums of EMT images
  os-profiles/VERSION
  os-profiles/microvisor-idv.yaml
  os-profiles/microvisor-nonrt.yaml
  os-profiles/microvisor-rt.yaml
  os-profiles/microvisor-standalone.yaml
Labels: os-profiles

#363 Updated existing CVEs json file path in EMT OS Profiles
  os-profiles/VERSION
  os-profiles/microvisor-idv.yaml
  os-profiles/microvisor-nonrt.yaml
  os-profiles/microvisor-rt.yaml
  os-profiles/microvisor-standalone.yaml
Labels: os-profiles

#371 Version bump to -dev for os-profiles
  apiv2/VERSION
  bulk-import-tools/VERSION
  exporters-inventory/VERSION
  inventory/VERSION
  os-profiles/VERSION
  tenant-controller/VERSION
Labels: inventory, bulk-import-tools, exporters-inventory, tenant-controller, os-profiles, apiv2

#379 Version bump to -dev for os-profiles
  os-profiles/VERSION
Labels: os-profiles
